services:
  compilation-service:
    build: 
      context: ./compilation_service
      dockerfile: Dockerfile

    container_name: compilation-service
    ports:
      - "3000:3000"
    command: ["node", "dist/main.js"]  
    environment:
      NODE_ENV: production

  mock-auth-service:
    build: 
      context: ./mock_auth_service
      dockerfile: Dockerfile

    container_name: mock-auth-service
    ports:
      - "3003:3003"
    command: ["node", "dist/index.js"]  
    environment:
      NODE_ENV: production

#  auth-service:
#    build: 
#      context: ./auth_service
#      dockerfile: Dockerfile

#    container_name: auth-service
#    ports:
#      - "3005:3005"
#    command: ["node", "dist/index.js"]  
#    environment:
#      NODE_ENV: production

#  keycloak:
#    image: quay.io/keycloak/keycloak:25.0
#    container_name: keycloak
#    environment:
#      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
#      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
#      CLIENT_SECRET: ${CLIENT_SECRET}
#    volumes:
#      - ./realm-template.json:/opt/keycloak/data/import/realm-template.json
#    command: >
#      sh -c "
#        echo Running import template...
#        envsubst < /opt/keycloak/data/import/realm-template.json \
#          > /opt/keycloak/data/import/realm.json &&
#        /opt/keycloak/bin/kc.sh start-dev --import-realm
#      "
#    ports:
#      - "8080:8080"

  contest-db:
    image: postgres:18
    container_name: contest-db
    environment:
      POSTGRES_USER: pavel_mernov
      POSTGRES_PASSWORD: 0867
      POSTGRES_DB: contest_database
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U pavel_mernov -d contest_database"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - ./contest_service/database/volumes:/var/lib/postgresql 
  contest-service:
    depends_on:
    - contest-db

    build: 
      context: ./contest_service
      dockerfile: Dockerfile

    container_name: contest-service
    ports:
      - "3002:3002"
    command: ["node", "dist/index.js"]  
    environment:
      NODE_ENV: production
  submission-db:
    image: postgres:18
    container_name: submission-db
    restart: always
    environment:
      POSTGRES_USER: pavel_mernov
      POSTGRES_PASSWORD: 0867
      POSTGRES_DB: submission_database
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U pavel_mernov -d submission_database"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5433:5432"
    volumes:
      - submission_volumes:/var/lib/postgresql 
  submission-service:
    depends_on:
    - submission-db

    build: 
      context: ./submission_service
      dockerfile: Dockerfile

    container_name: submission-service
    ports:
      - "3004:3004"
    command: ["node", "dist/index.js"]  
    environment:
      NODE_ENV: production

volumes:
  submission_volumes:


