services:
  compilation-service:
    build: 
      context: ./compilation_service
      dockerfile: Dockerfile

    container_name: compilation-service
    ports:
      - "3000:3000"
    command: ["node", "dist/main.js"]  
    environment:
      NODE_ENV: production

  mock-auth-service:
    build: 
      context: ./mock_auth_service
      dockerfile: Dockerfile

    container_name: mock-auth-service
    ports:
      - "3003:3003"
    command: ["node", "dist/index.js"]  
    environment:
      NODE_ENV: production

  contest-db:
    image: postgres:18
    container_name: contest-db
    environment:
      POSTGRES_USER: pavel_mernov
      POSTGRES_PASSWORD: 0867
      POSTGRES_DB: contest_database
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U pavel_mernov -d contest_database"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - ./contest_service/database/volumes:/var/lib/postgresql 
  contest-service:
    depends_on:
    - contest-db

    build: 
      context: ./contest_service
      dockerfile: Dockerfile

    container_name: contest-service
    ports:
      - "3002:3002"
    command: ["node", "dist/index.js"]  
    environment:
      NODE_ENV: production



