apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: submission-volumes
  name: submission-volumes
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
